body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  display: flex;
}

.sidebar {
  background-color: blue;
  width: 25vw;
}

.main {
  height: 100vh;
  width: 75vw;
}

.sidebar-header {
  background-color: tan;
  height: 20%;

}

.sidebar-profile {
  background-color: teal;
  height: 15%;

}

.sidebar-info {
  background-color: thistle;
  height: 65%;

}

.main-header {
  background-color: purple;
  height: 20%;
}

.main-body {
  background: yellowgreen;
  height: 40%
}

.main-info {
  display: flex;
  background-color: seagreen;
  height: 40%;
}

.main-info-finances {
  background-color: orangered;
  width: 60%
}

.main-info-activity {
  background-color: whitesmoke;
  width: 40%
}