body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3EFEA;
}

.frame {
  display: flex;
}

.sidebar {
  width: 20vw;
}

.main {
  height: 100vh;
  width: 80vw;
}

.sidebar-header {
  height: 20%;

}

.sidebar-profile {
  height: 15%;

}

.sidebar-info {
  height: 65%;

}

.sidebar-logout {
  justify-content: end;
}

.main-header {
  height: 20%;
}

.main-body {
  height: 50%;
}

.main-info {
  display: flex;
  height: 30%;
}

.main-info-finances {
  width: 60%
}

.main-info-activity {
  width: 50%
}
