body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  display: flex;
}

.sidebar {
  background-color: lightblue;
  width: 25vw;
  height: 100vh;
  display: block;
}

.main {
  background-color: lightcoral;
  width: 75vw;
  height: 100vh;
}

.sidebar-header {
  background-color: green;
  height: 20%;
}

.sidebar-content {
  background-color: lightgreen;
  height: 55%;
}

.sidebar-footer {
  background-color: blue;
  height: 25%;
}

.main-nav {
  background-color: blueviolet;
  height: 20%;
}

.main-content {
  background-color: sienna;
  height: 80%;
}